name: Metrics
on:
  schedule:
    - cron: '0 0 * * *'  # Run daily at midnight
  workflow_dispatch:      # Allow manual triggers
  push:
    branches: [ main ]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Metrics embed
        uses: gh-metrics/metrics@b5b40a2e96462705511bb058d9be2c02b6725a48
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: kaif-00z

          # Template and base configuration (template=classic)
          template: classic
          config_timezone: Asia/Calcutta  # config.timezone=Asia%2FCalcutta
          
          # Plugins activation
          plugin_isocalendar: yes         # isocalendar=1
          plugin_languages: yes           # languages=1
          plugin_introduction: yes        # introduction=1
          plugin_achievements: yes        # achievements=1
          plugin_lines: yes               # lines=1
          
          # Isocalendar plugin options
          plugin_isocalendar_duration: half-year  # isocalendar.duration=half-year
          
          # Languages plugin options
          plugin_languages_limit: 8               # languages.limit=8
          plugin_languages_sections: most-used    # languages.sections=most-used
          plugin_languages_colors: github         # languages.colors=github
          plugin_languages_threshold: 0.25        # languages.threshold=0%25
          plugin_languages_indepth: no            # languages.indepth=false
          plugin_languages_recent_load: 300       # languages.recent.load=300
          plugin_languages_recent_days: 14        # languages.recent.days=14
          
          # Introduction plugin options
          plugin_introduction_title: yes          # introduction.title=true
          
          # Achievements plugin options
          plugin_achievements_threshold: C        # achievements.threshold=C
          plugin_achievements_secrets: yes        # achievements.secrets=true
          plugin_achievements_limit: 0            # achievements.limit=0